<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.lesson03.model.dao.ReviewDAO">
 
 
 	<!--    DAO 의 메소드 명 매핑              결과 타입은 객체                         -->
 	<select id="selectReviewById" parameterType="int" resultType="com.example.lesson03.model.Review">
 		SELECT
 			`id`
			,`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		FROM
 			new_review
 		WHERE
 			`id` = #{id}
 			
 	</select>


	<!--★★       인설트 , 델리트 , 업데이트 일경우 resulttype을 명시하면 안된다!!!!!!!!★★  --> 	
 	<insert id="insertReview" parameterType="com.example.lesson03.model.Review" >  
 		INSERT INTO new_review
 		(
 			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			,#{menu}
 			,#{userName}
 			,#{point}
 			,#{review}
 			, NOW()
 			, NOW()
 		)
 	
 	</insert>
 	
 	
 	<insert id="insertReviewAsField" parameterType="map">
 		INSERT INTO new_review
 		(
 			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			,#{menu}
 			,#{userName}
 			,#{point}
 			,#{review}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<update id="updateReviewById" parameterType="map">
 		UPDATE new_review
 		SET
 			review = #{review}
 			, updatedAt = NOW()
 		WHERE
 			id = #{id}
 	</update>
 	
 </mapper>