<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--DAO의 캠페인 매핑  -->
 <mapper namespace="com.example.lesson02.model.dao.UsedGoodsDAO">
 
 
 	<!--    DAO 의 메소드 명 매핑              결과 타입은 객체                         -->
 	<select id="selectUsedGoodsList" resultType="com.example.lesson02.model.UsedGoods">
 		SELECT
 			*
 		FROM
 			used_goods
 	</select>
 </mapper>